doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Página del Manos a la Obra de Paraná, Entre Ríos, Argentina')
        meta(name='keyword', content='manos a la obra, parana, paraná, proyecto, jóvenes, juventud')
        meta(name='author', content='Iván Ezequiel Iencinella')
        meta(name='copyright', content='Copyright © 2022 - Piensa Sencillo')
        meta(name="google-site-verification", content="HbhPTPmoS8s5gD2D8qf5EJW6v9K1PJV9oGQg2pP382c")
        meta(name="robots", content="noodp,noydir,noimageindex")
        meta(name="referrer", content="origin-when-crossorigin", id="meta_referrer")

        title Manos a la Obra Paraná

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
        link(rel='apple-touch-icon', sizes='180x180' href='assets/apple-touch-icon.png')
        link(rel='icon' type='image/png', sizes='32x32' href='assets/favicon-32x32.png')
        link(rel='icon' type='image/png', sizes='16x16' href='assets/favicon-16x16.png')

        link(rel="canonical",href="https://manosparana.com.ar/")

        // Bootstrap Icons
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css")

        // SimpleLightbox plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container.px-4.px-lg-5
                a.navbar-brand(href='#page-top')
                    img.logo(type='image/svg', src='assets/logo.svg', alt='logo')
                    | Manos a la Obra Paraná
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link(href='#sobre_nosotros') ¿Quienes somos?
                        li.nav-item
                            a.nav-link(href='#proyectos') Nuestros Proyectos
                        li.nav-item
                            a.nav-link(href='#quiero_ayudar') Suma tu mano!!!

        // Masthead
        header.masthead.h-100
            .container.px-4.px-lg-5.h-100
                .row.gx-4.gx-lg-5.h-100.align-items-center.justify-content-center.text-center
                    .col-lg-8.align-self-mid
                        img(src="assets/img/mensaje_inicial.png", alt="Mensaje de bienvenida" width="99%")
                        a.btn.btn-primary.btn-xl(href='#sobre_nosotros') Buscar más!!!

        // Sobre Nosotros
        section#sobre_nosotros.page-section.bg-primary
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.text-center
                        h2.text-white.mt-0 ¿Qué es Manos a la Obra?
                        p.text-white-75.mb-4
                            | Es un proyecto solidario impulsado por la Pastoral Universitaria que pretende generar una interación con personas que viven grandes desigualdades sociales, poniendo en práctica los conocimientos adquiridos en la Universidad.
                        hr.divider.divider-light
                        h2.text-white.mt-0 ¿Cómo trabajamos?
                        p.text-white-75.mb-4
                            | Mediante encuentros y visitas, conocemos el barrio, sus necesidades e inquietudes. Charlamos con los vecinos y creamos proyectos que solucionen alguna de las necesidades. Trabajamos durante todo el año para, finalmente, realizar una intervención intensiva en Enero. Trabajando en el barrio con los vecinos.
                        hr.divider.divider-light
                        h2.text-white.mt-0 ¿Quienes pueden participar?
                        p.text-white-75.mb-4
                            | Está dirigido a toda persona del ámbito universitario (estudiante, graduado, docente, profesionales) dispuesto a poner sus talentos al servicio de los demás.
                        a.btn.btn-light.btn-xl(href='#proyectos') ¿Quiero saber un poco más?

        // Proyectos
        section#proyectos.page-section
            .container.px-4.px-lg-5
                h2.text-center.mt-0 Nuestros Proyectos
                hr.divider
                .row.gx-4.gx-lg-5
                    .col-lg-6.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi.bi-book.fs-1.text-primary
                            h3.h4.mb-2 Educación
                            p.text-muted.mb-0.description Trabajamos con los niños y adolescentes para reforzar algunos conceptos aprendidos en clases.
                    .col-lg-6.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi.bi-heart.fs-1.text-primary
                            h3.h4.mb-2 Salud
                            p.text-muted.mb-0.description Trabajamos con la comunidad para mejorar cuidados en la salud e higiene personal.
                .col-lg-12.col-md-6.text-center
                    .mt-5
                        .mb-2
                        a.btn.btn-primary.btn-xl(href='#quiero_ayudar') ¿Quiero ayudar?
                    .mt-5
                        .mb-2
                        a.btn.btn-primary.btn-xl(href='#areas') Ver Áreas de trabajo

        // Áreas
        section#areas.page-section
            .container.px-4.px-lg-5
                h2.text-center.mt-0 Nuestras Áreas de trabajo
                hr.divider
                .row.gx-4.gx-lg-5
                    .col-lg-4.col-md-4.text-center
                        .mt-5
                            .mb-2
                                i.bi.bi-clipboard2-heart.fs-1.text-primary
                            h3.h4.mb-2.area.tooltip.bottom.color.animationTips(tool-tips="Su tarea principal es la obtención y gestión de recursos para financiar el Manos a la Obra") Recursos
                    .col-lg-4.col-md-4.text-center
                        .mt-5
                            .mb-2
                                i.bi.bi-building.fs-1.text-primary
                            h3.h4.mb-2.area.tooltip.bottom.color.animationTips(tool-tips="Serán los encargados de preparar el equipamiento necesario para MO y estarán atentos y al servicio de las necesidades de los participantes del proyecto") Infraestructura
                    .col-lg-4.col-md-4.text-center
                        .mt-5
                            .mb-2
                                i.bi.bi-heart-pulse.fs-1.text-primary
                            h3.h4.mb-2.area.tooltip.bottom.color.animationTips(tool-tips="Serán los encargados de armar el contenido de la formación y espiritualidad que acompañara el desarrollo del proyecto") Formación y Espiritualidad
                .row.gx-4.gx-lg-5
                    .col-lg-6.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi.bi-display.fs-1.text-primary
                            h3.h4.mb-2.area.tooltip.bottom.color.animationTips(tool-tips="Serán los encargados de dar a conocer el proyecto en todos sus ámbitos y niveles: población universitaria, sociedad en general, la comunidad visitada, las parroquias de la zona") Difusión
                    .col-lg-6.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi.bi-hearts.fs-1.text-primary
                            h3.h4.mb-2.area Inscripción y Recepción
                .col-lg-12.col-md-6.text-center
                    .mt-5
                        .mb-2
                        a.btn.btn-primary.btn-xl(href='#quiero_ayudar') ¿Quiero ayudar?

        // Quiero Ayudar
        section#quiero_ayudar.page-section
            .container.px-4.px-lg-5
                //- .row.gx-4.gx-lg-5.justify-content-center
                //-     h3.text-center Si quieres sumar tu mano, únete en nuestras redes y grupo de whatsapp
                .row.gx-4.gx-lg-5.justify-content-center
                    h3.text-center Están abiertas las inscripciones para el proyecto Manos 2023
                    .col-lg-10.col-md-10.text-center
                        .mt-5
                            .mb-2
                                a.btn.btn-primary.rounded-circle(href='https://forms.gle/uGTJwc3KJQ1W52FL8', target='_blank')
                                    i.bi.bi-clipboard.fs-1.icon-xl
                                p Ficha de Inscripción
                //- .row.gx-4.gx-lg-5.justify-content-center
                //-     .col-lg-8.col-xl-6.text-center
                //-         h2.mt-0 ¡Quiero sumar mi mano!
                //-         hr.divider
                //-         p.text-muted.mb-5
                //-             | Es muy importante que nos cuentes quien sos, si estas estudiando, trabajando y en que proyecto te gustaría trabajar!
                //- .row.gx-4.gx-lg-5.justify-content-center.mb-5
                    .col-lg-6
                        form#quiero_ayudar
                            // Name input
                            .form-floating.mb-3
                                input#name.form-control(
                                    type='text',
                                    placeholder='Enter your name...',
                                    data-sb-validations='required'
                                )
                                label(for='name') Nombre completo
                                .invalid-feedback(data-sb-feedback='name:required')
                                    | El nombre es requerido.

                            // Email address input
                            .form-floating.mb-3
                                input#email.form-control(
                                    type='email',
                                    placeholder='name@example.com',
                                    data-sb-validations='required,email'
                                )
                                label(for='email') Correo electrónico
                                .invalid-feedback(data-sb-feedback='email:required')
                                    | El correo es requerido.
                                .invalid-feedback(data-sb-feedback='email:email')
                                    | Correo no válido.

                            // Phone number input
                            .form-floating.mb-3
                                input#phone.form-control(
                                    type='tel',
                                    placeholder='(123) 456-7890',
                                    data-sb-validations='required'
                                )
                                label(for='phone') Número de celular
                                .invalid-feedback(data-sb-feedback='phone:required')
                                    | El número de celular es requerido.

                            // Person description
                            .form-floating.mb-3
                                textarea#description.form-control(
                                    type='text',
                                    placeholder='Dinos cual es tu profesión, que estudias, trabajas?',
                                    style='height: 10rem;',
                                    data-sb-validations='required'
                                )
                                label(for='description') ¿Quién soy?
                                .invalid-feedback(data-sb-feedback='description:required')
                                    | Decir quien sos es muy importante para nosotros, asi podremos agregarte a un proyecto.

                            // Selected work project
                            .form-cloating.mb-3
                                label(for='workproject') ¿En qué proyecto quieres dar tu mano?
                                select#workproject.form-control
                                    option(value='Educación') Educación
                                    option(value='Salud') Salud

                            // Selected work area
                            .form-cloating.mb-3
                                label(for='workarea') ¿En qué área te gustaría trabajar?
                                select#workarea.form-control
                                    option(value='') 
                                    option(value='Recursos') Recursos
                                    option(value='Infraestructura') Infraestructura
                                    option(value='Formación y Espiritualidad') Formación y Espiritualidad
                                    option(value='Difusión') Difusión
                                    option(value='Inscripción y Recepción') Inscripción y Recepción

                            // Submit success message
                            //
                            // This is what your users will see when the form
                            // has successfully submitted

                            #submitSuccessMessage.d-none
                                .text-center.mb-3
                                    .fw-bolder Formulario enviado!

                            // Submit error message
                            //
                            // This is what your users will see when there is
                            // an error submitting the form

                            #submitErrorMessage.d-none
                                .text-center.text-danger.mb-3 Error al mandar formulario.

                            // Submit Button
                            .d-grid
                                button#submitButton.btn.btn-primary.btn-xl(type='submit') Enviar

            // Links Socialnet
            section
                .container
                    .row
                        .col-lg-3.col-md-3.text-center
                            .mt-5
                                .mb-2
                                    a.btn.btn-primary.rounded-circle(href='https://www.instagram.com/manos_parana/', target='_blank')
                                        i.bi.bi-instagram.fs-1.icon-xl
                                    p Síguenos
                                        i.bi.bi-person-check
                        .col-lg-3.col-md-3.text-center
                            .mt-5
                                .mb-2
                                    a.btn.btn-primary.rounded-circle(href='https://www.facebook.com/manosalaobrapna/', target='_blank')
                                        i.bi.bi-facebook.fs-1.icon-xl
                                    p Dale un "Me gusta"
                                        i.bi.bi-hand-thumbs-up
                        .col-lg-3.col-md-3.text-center
                            .mt-5
                                .mb-2
                                    a.btn.btn-primary.rounded-circle(href='https://chat.whatsapp.com/DR0oFazMTiZDldZzbbpwp3', target='_blank')
                                        i.bi.bi-whatsapp.fs-1.icon-xl
                                    p Únete a nuestro grupo de Whatsapp
                        .col-lg-3.col-md-3.text-center
                            .mt-5
                                .mb-2
                                    a.btn.btn-primary.rounded-circle(href='https://www.youtube.com/channel/UCJkwwCKdnS9Uey0KIC8x6iA/featured', target='_blank')
                                        i.bi.bi-youtube.fs-1.icon-xl
                                    p Suscríbete a nuestro canal
                        .col-lg-12.col-md-12.text-center
                            .mt-5
                                .mb-2
                                    a.btn.btn-primary.rounded-circle(href='mailto:Manosparana@gmail.com')
                                        i.bi.bi-envelope.fs-1.icon-xl
                                    p Envíanos un correo

        // Footer
        footer.bg-light.py-5
            .container.px-4.px-lg-5
                .small.text-center.text-muted
                    | Copyright &copy; 2022 - Piensa Sencillo por Iván Ezequiel Iencinella

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // SimpleLightbox plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js')

        // Core theme JS
        script(type='module' src='js/scripts.js')

        // Core send email
        script(src='https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js')
